* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(230,230,230);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.flex-container {
    display: flex;
    flex-direction: column;
    height: 95%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 70%;
    margin: 5px 0px;
}

div.table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 1px;
    margin-bottom: 3px;
}

div.back-btn {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 4px;
}

div.back-btn:hover {
    border: 2px solid rgb(180,180,180);
}

div.back-btn:hover > svg {
    fill: rgb(180,180,180);
}

div.add-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

div.add-btn {
    width: 50%;
    border: 3px solid rgba(255,255,255,0);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 200, 200);
}

div.add-btn > svg {
    fill: black;
}

div.add-btn:hover {
    border-color: rgb(180,180,180);
}

div.add-btn:hover > svg {
    fill: rgb(180,180,180);
}

div.icon-btn {
    height: 25px;
    width: 25px;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 4px;
    padding: 4px;
    margin: 0px 2px;
    background-color: rgba(255,255,255,0);
}

div.icon-btn:hover {
    border-color: rgb(180,180,180);
}

div.icon-btn:hover > svg {
    fill: rgb(180,180,180);
}

input.entry-selector {
    height: 25px;
    width: 25px;
}

h1.no-back {
    margin-left: 40px;
}

div.table-navbar {
    display: flex;
    width: auto;
}

div.table-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(230,230,230);
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(230,230,230);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.table-statusbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3px;
    margin: 0px 4px 4px 18px;
}

div.table-inner-wrapper {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    width: 99%;
    align-items: center;
}

div.product-entry {
    width: 99%;
    padding: 4px;
    margin: 2px 0px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.button-tray {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.entry-hitbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.product-entry:hover {
    background-color: white;
}

div.table-divider {
    background-color: rgb(200, 200, 200);
    width: 99%;
    height: 2px;
    margin: 0px 2px;
}

p.entry-name {
    margin-left: 10px;
}

/* popup styles */
div.ppp-container {
    z-index: 10;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

div.ppp-flex-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgb(230,230,230);
    margin-top: 20mm;
    border-radius: 7px;
    padding: 7px;
}

.ppp-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ppp-title > p {
    font-size: 20px;
}

.ppp-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 7px;
    margin-top: 7px;
}

p.ppp-ml {
    margin-left: 12px;
}

div.sm {
    width: 16px !important;
    height: 16px !important;
}

.ppp-input {
    width: 50%;
    font-size: 20px;
    padding: 3px;
}

.ppp-body > label {
    margin-top: 5px;
}