<!-- Manual addition window -->
<div class="ppp-container" id="addl-base">
    <div class="ppp-flex-container">
        <div class="ppp-title">
            <p>{{ objectprompt }}</p>
            <div class="icon-btn sm" onclick="togglePopup('addl-base')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                </svg>
            </div>
        </div>
        <div class="ppp-body">
            {% if integerinput %}
            <label>Timestamp</label>
            <input class="ppp-input" id="addl-timestamp">
            <label>Value</label>
            <input class="ppp-input" id="addl-value">
            {% else %}
            <label>{{ object }}</label>
            <input class="ppp-input" id="addl-name">
            {% endif %}
        </div>
        <div class="ppp-submit-area">
            <div class="ppp-submit-btn add-btn" onclick="{{ funcname }}('{{ submiturl }}', {{ prodflag }})">
                <p>Submit</p>
            </div>
        </div>
    </div>
</div>