<!doctype html>
<html lang="en-US">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'appmetrica/style.css' %}">
    <script src="{% static 'appmetrica/scripts.js' %}"></script>
    <title>Product view</title>
  </head>
  <body>
    <div class="container">
        <div class="flex-container">
            <div class="table-header">
                <h1 class="no-back">Products</h1>
            </div>
            <div class="table-navbar"></div>
            <div class="table-contents">
                <form id="filter-sort-form"></form>
                {% for entry in product_list %}
                <div class="product-entry">
                    <input type="checkbox" form="filter-sort-form" name="select-{{ entry.id }}">
                    <div class="entry-hitbox" id="{{ entry.id }}" onclick="sendform(this)">
                        <p class="entry-name">{{ entry.str_name }}</p>
                        <form method="POST" action="{% url 'appmetrica:product' entry.str_name %}" name="form-{{ entry.id }}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ entry.id }}" name="in-name-prod-id">
                        </form>
                    </div>
                </div>
                <div class="table-divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
  </body>
</html>
